body{
    background-color:#f5ebeb
}
div.info{
    margin-top:10%;
    padding:1%;
    width:60%;
    min-width:56%;
    margin-left:auto;
    margin-right:auto;
    border:ridge;
    border-width:5px;
    border-color:#f0f8ff;
    background:linear-gradient(#faefef,#f0f8ff);
}
span.my_name{
    font-family:Montserrat,sans-serif;
    font-weight:700;
    text-shadow:1px 2px 1px grey;
    font-size:30px
}
span.phrase{

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size:20px;

}
div.quote{
    margin-top: 1%;
    text-align: center;
}
a{
    margin-left:3%;
    margin-right:3%;
    font-family:Montserrat,sans-serif;
    font-weight:700;
}
div.links{
    min-height:100%;
    margin-top:2%;
    margin-bottom:2%;
    background:linear-gradient(#ece5e5,#f8efef);
}
.fa-github,.fa-steam,.fa-telegram,.fa-vk{
    padding-top:3%;
    padding-bottom:3%;
    font-size:100px;
    color:#c3889a
}
div.icons{
    font-size:.9rem;
    display:flex;
    justify-content:center
}
div.name{
    display:flex;
    justify-content:center
}
@media (max-width:920px){
    div.info{
        width:70%
    }
    span.my_name{
        font-size:25px;
    }
    span.phrase{
        font-size:18px;   
    }
    div.links{
        margin-top:4%;
        margin-bottom:4%
    }
}
@media (max-width:440px){
    div.info{
        margin-top:30%;
        width:85%
    }
    span.my_name{
        font-size:15px;
        text-shadow:.6px 1.2px .6px grey;
    }
    div.icons{
        font-size:.5rem
    }
    span.phrase{
        font-size:12px;   
    }
    div.links{
        margin-top:5%;
        margin-bottom:5%
    }
}